* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700;800&display=swap');
  }

/* NAVBAR */
  .nav {
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: relative;
    margin-bottom: 50px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color: #4683a9;
    padding: 25px 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 20px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 35px 50px 30px 0px;
    text-decoration: none;
    color: #4683a9;
  }
  
  .nav > .nav-links > a:hover {
    color: #24597a;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      color: #576CBC;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      height: 0px;
      color: #576CBC;
      transition: all 0.5s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/* HEADER */
#nama {
	font-weight: 800;
	letter-spacing: 2px;
}

#prof {
	font-weight: 400;
	font-size: 34px;
}

.namahd {
	font-size: 35px;
	height: 380px;
	padding: 120px 150px 50px 70px;
	line-height: 10px;
	background:  url(img/header.png);
	background-position: center;
	background-size: cover;
	text-align: right;
	color: white;
  margin-bottom: 150px;
}

/* ABOUT ME */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 120px;
  }
  
  .flex-container > div {
    width: 500px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 50%;
        max-width: 400px;
    }
    
    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 100px;
    }
    
    /* Add Animation */
    .modal-content, #caption {  
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @keyframes zoom {
        from {transform: scale(0.1)} 
        to {transform: scale(1)}
    }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

 #about {
    font-size: 18px;
    font-weight: 300;
    line-height: 200%;
    text-align: right;
  }

  #abouttitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 50%;
    text-align: right;
    color: rgb(46, 46, 46);
  }

  #aboutsub {
    color: rgb(74, 74, 74);
    line-height: 150%;
  }

  .button {
    background-color: #4683a9;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Plus Jakarta Sans';
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4683a9;;
  }
  
  .button1:hover {
    background-color: #4683a9;
    color: white;
  }

/* WORKS WITH */
.flex-container2 {
  display: flex;
}

.flex-container2 > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 500px;
}

#skillsub {
  font-weight: 600;
  text-align: center;
  color: #4683a9;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 40%;
}

#skillstitle {
  font-weight: 700;
  text-align: center;
  color: rgb(46, 46, 46);
  line-height: 40%;
}

.flex-container3 {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
}

.flex-container3 > div {
  padding: 50px 30px 30px 30px;
  margin: 20px;
  font-size: 30px;
  width: 400px;
  background-color: #d1e4ea;
  border-radius: 5px;
  font-size: 18px;
  color: #306c91;
  font-weight: 800;
  text-align: center;
  box-shadow: 1px 2px 5px #e9e9e9;
}

#skilsub {
  font-size: 15px;
  font-weight: 400;
  line-height: 50%;
}